# AI Server list
# Format follows ~/.ssh/config. The app can create this file for you from
# "Add Server", so copying this file is optional.

Host lab-gpu
  HostName 10.x.x.x
  Port 22
  User root
  WorkDir /home/user/projects/
  Proxy http://10.x.x.x:18000
  IdentityFile C:\Users\you\.ssh\id_ed25519

Host my-server
  HostName 10.x.x.x
  Port 6339
  User root
  WorkDir /root/workspace/
